.component-button {
  @include clearfix;
  margin-bottom: $margin;

  a {
    margin-bottom: 0;
  }

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

}
