$breakpoints: (
    small: 480px,
    medium: 768px,
    large: 1024px
);

$h1-font-sizes: (
    null: 34px,
    small: 34px,
    medium: 38px,
    large : 42px,
);

$h2-font-sizes: (
    null: 26px,
    small: 26px,
    medium: 28px,
    large : 32px,
);

$h3-font-sizes: (
    null : 22px,
    small : 22px,
    medium: 22px,
    large : 24px,
);

$h4-font-sizes: (
    null : 20px,
    small : 20px,
    medium: 20px,
    large : 22px,
);

$h5-font-sizes: (
    null : 18px,
    small : 18px,
    medium: 18px,
    large : 20px,
);

$h6-font-sizes: (
    null : 14px,
    small : 14px,
    medium: 14px,
    large : 16px,
);

$ingress-font-sizes: (
    null : (16px, 26px),
    small : (16px, 26px),
    medium: (18px, 28px),
    large : (18px, 28px),
);

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: $headings-color;
  margin-bottom: $margin;
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

h6 {
  @include font-size($h6-font-sizes);
}

body {
  font-weight: $font-weight-base;
}

a {
  font-weight: $font-weight-medium;
}

hr {
  border-color: $gray-dark;
  margin-top: $margin;
  margin-bottom: $margin;
}

p {
  margin-bottom: $margin-bottom;
}

strong {
  font-weight: $font-weight-medium;
}

.text--smaller {
  font-size: 14px;
  line-height: 20px;
}