.component-ingress {

  p {
    @include font-size($ingress-font-sizes);
    max-width: 810px;
    margin-bottom: $margin;
  }

  .lead-left {
    text-align: left;
  }

  .lead-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .lead-right {
    text-align: right;
  }
}

