.component-heading {
  margin-bottom: $margin;

  h1, h2, h3, h4, h5, h6, a {
    display: inline-block;
    margin-bottom: 0;
  }

  a {
    overflow: hidden;

    h1, h2, h3, h4, h5, h6, {
      color: $brand-accent-blue;
    }
  }

  .color--brand-light {
    color: $brand-primary-light;
  }

  .color--white {
    color: $white;
  }

  .heading-1 {
    @include font-size($h1-font-sizes);
  }

  .heading-2 {
    @include font-size($h2-font-sizes);
  }

  .heading-3 {
    @include font-size($h3-font-sizes);
  }

  .heading-4 {
    @include font-size($h4-font-sizes);
  }

  .heading-5 {
    @include font-size($h5-font-sizes);
  }

  .heading-6 {
    @include font-size($h6-font-sizes);
  }

  &.heading-left {
    text-align: left;
  }

  &.heading-center {
    text-align: center;
  }

  &.heading-right {
    text-align: right;
  }
}

