.component-postlist {
    .component-post {
        margin-bottom: 20px;
    }

    img {
        border-radius: 4px;
    }

    .navigation {
        padding: $grid-gutter-width 0;
        text-align: center;

        .nav-wrapper {
            padding: 0 $grid-gutter-width / 2;
            display: inline-block;
        }
        .btn {
            min-width: 200px;
        }

    }
}
